@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700');

@import './scss/variables';
@import '../node_modules/bulma/bulma';

@import './scss/navbar';
@import './scss/header';

.governance-section {

  & + & {
    margin-top: 5rem;
  }
}

.governance-title {
  font-size: 2rem;
  color: #060310;
  font-weight: $weight-bold;
  margin-bottom: 1.5rem;

  + .governance-subtitle {
    margin-top: -1.25rem;
  }
}

.governance-subtitle {
  font-size: 1.5rem;
  color: #928F9B;
  margin-bottom: 1.5rem;
  max-width: 32rem;
}

.governance-chart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.governance-legend {
  list-style: none;
  font-weight: bold;
  margin-left: 4rem;

  > li {
    display: flex;
    align-items: center;

    + li {
      margin-top: .5rem;
    }
  }

  &-badge {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3px;
    margin-right: 1rem;
  }
}