@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700');

@import './scss/variables';
@import '../node_modules/bulma/bulma';

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin retina() {
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    @content;
  }
}

@import './scss/navbar';
@import './scss/header';
@import './scss/card';
@import './scss/footer';
